#PSYCH FOLDERS
dump/

### VS Code
export/*
.haxelib/
.vscode/*
*.code-workspace
vs_Community.exe
# Local history which shouldn't be shared.
.history
.ionide
# ! means a file should be added regardless of it it gets ignored prior.
# Including to allow others to use already set-up configuration tweaked for the project.
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/settings.json